In [1]:
from website import coinmarketcap as cmc
import pandas as pd
import sqlite3

In [2]:
data = pd.read_csv('sample_data.csv', date_parser=pd.to_datetime, parse_dates=['date'])

In [3]:
data

        date type from_symbol to_symbol  price  quantity  fee
0 2021-01-01    B         EUR       BTC  30000       0.5  0.2
1 2021-01-02    B         EUR       ETH   1100       1.0  0.2
2 2021-01-03    S         BTC       EUR  33000       0.3  0.2

In [46]:
query = "SELECT * FROM 'Transaction'"

con = sqlite3.connect("website/database.db")
cur = con.cursor()
cur.execute(query)
res = cur.fetchall()
cols = [header[0] for header in cur.description]
df = pd.DataFrame(res, columns=cols)
df

   id        date type from_symbol to_symbol  quantity    price  fee  user_id
0   1  2021-01-01    B         EUR       BTC       0.5  30000.0  0.2        1
1   2  2021-01-02    B         EUR       ETH       1.0   1100.0  0.2        1
2   3  2021-01-03    S         BTC       EUR       0.3  33000.0  0.2        1